# core
Django>={{cookiecutter.django_ver_1|float}},<{{cookiecutter.django_ver_1|float+0.1}}
django-cors-headers>=3.5.0

# libs
{% if cookiecutter.with_minio %}
boto3>=1.9,<=1.10
django-storages>=1.7,<1.8
deepmerge<=1.0
{% endif %}
django-url-filter>=0.3,<0.4
{% if cookiecutter.with_djextensions %}django-extensions>=3.0,<4.0{% endif %}

# connectors
psycopg2{{cookiecutter.psycopg_req}}
{% if cookiecutter.cache_system == 'redis'-%}
django-redis>=4.9,<4.10
{%endif-%}
{%- if cookiecutter.cache_system == 'memcached'%}
python-memcached
{%endif %}
# SIG
mercantile>=1.0,<1.1
Fiona>=1.7,<1.8

{% if cookiecutter.with_pil %}
django-versatileimagefield>=1.10,<2.0
Pillow>=5.3.0,<6.0.0
{% endif %}
{% if cookiecutter.with_drf -%}
# DRF
djangorestframework>=3.11,<3.12
djangorestframework-gis==0.12
djangorestframework-simplejwt>=4.4,<4.5
drf-yasg>=1.9,<2.0
{% endif -%}
{% if cookiecutter.with_ia_libs -%}
# IASD
numpy
pandas
tensorflow
keras
begins
{% endif -%}
{%- if cookiecutter.with_celery %}
# celery
django_celery_results{{cookiecutter.celery_results_version}}
celery{{cookiecutter.celery_version}}
django-celery-beat{{cookiecutter.celery_beat_version}}
{% endif -%}

{%- if cookiecutter.with_sentry %}
# sentry (need requests)
raven==6.10.0
{% endif%}
requests>=2.25.0
# webserver
gunicorn{%if cookiecutter.gunicorn_class not in ['gaiohttp', 'sync']%}[{{cookiecutter.gunicorn_class}}]{%endif%}>=19.9

# leave those tools to let debug in hosted envs
remote-pdb
pdb_clone
