# development
coverage
{% if cookiecutter.with_toolbar %}django-debug-toolbar>=3.0,<4.0{% endif %}
{% if cookiecutter.with_djextensions %}django-extensions>=3.0,<4.0{% endif %}
eradicate
isort
pdb_clone
pylama
pycodestyle
tblib
tox
tox-direct
{% if cookiecutter.with_black %}black{% endif %}
xlrd
remote-pdb
