# docker variables
# parsed/replaced in CI via env-subst
{{cookiecutter.app_type.upper()}}_NAME={{ cookiecutter.lname }}
{{cookiecutter.app_type.upper()}}_IMAGE={{ cookiecutter.docker_image }}
{{cookiecutter.app_type.upper()}}_IMAGE_VERSION=latest
APP_TYPE={{cookiecutter.app_type}}
DJANGO_PY_VER={{cookiecutter.py_ver}}
CI_COMMIT_SHA=master
{% if cookiecutter.with_ftp %}
DJANGO__FTP_USER=ftp
DJANGO__FTP_PASSWORD=secret123456987
DJANGO__FTP_PORT={{cookiecutter.ftp_port_range_start|int -1 }}
{% endif %}
# use a local image for faster rebuilds (only if image exists locally)
# DJANGO_BASE_IMAGE={{cookiecutter.docker_image}}:latest-dev
#
# activate for pycharm remote debug
# WITH_PYCHARM=1
# PYCHARM_VERSION===191.7141.48
# activate for vscode remote debug
# WITH_VSCODE=1
# VSCODE_VERSION===4.2.9
# end: docker variables

# compose/docker optims
DOCKER_BUILDKIT=1
COMPOSE_DOCKER_CLI_BUILD=1
BUILDKIT_PROGRESS=plain
BUILDKIT_INLINE_CACHE=1
