# Python
*.pyc
__pycache__
*.egg-info
*.mo

# {{cookiecutter.app_type.upper()}} local settings
/src/{{cookiecutter.django_settings.replace('.', '/')}}/local.py

# Docker local settings
/.env
/docker.env
/netrc

# IDE settings
.vscode
.idea
.~lock*

# Virtualenv
/venv/
/.tox

# corpusops & ansible
*.retry
/.ansible/scripts/ansible_deploy_env
/local/
!/local/regen.sh
