# To override in your project skeleton
PROJECT_DIR=/code/src/{{cookiecutter.django_project_name}}/
PROJECT_PACKAGE={{cookiecutter.django_project_name}}
#
GUNICORN_CLASS={{cookiecutter.gunicorn_class}}
#
{% if 'post' in cookiecutter.db_mode %}
POSTGRES_STARTUP_TIMEOUT=45s
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
PGPASSWD=password
{% elif 'mysql' in cookiecutter.db_mode %}
MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_DATABASE=db
MYSQL_USER=user
MYSQL_PASSWORD=password
{% else %}
DB_HOST=db
DB_PORT=
DB_NAME=db
DB_USER=user
DB_PASSWORD=password
{% endif %}
#
# This need to be changed in production
SECRET_KEY=ChangeThatSuperSecret
MAILCATCHER_USER=mailcatcher
MAILCATCHER_PASSWORD=mailcatcher
{% if cookiecutter.with_celery -%}
{% if cookiecutter.celery_broker == 'rabbitmq' %}
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=mypass
{% endif %}
{%- endif %}

# REDIS_URL=redis://redis:6379/1
# vim: set ft=sh:
