# development
{% if cookiecutter.with_toolbar %}django-debug-toolbar>=1.9,<1.10{% endif %}
{% if cookiecutter.with_djextensions %}django-extensions>=2.0,<2.1{% endif %}
tox
coverage
isort
pylama
tblib
eradicate
xlrd
pdb_clone
